<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.l0uy.phonegap.PGMoviePlayer"
      version="0.1.0">
    <name>PGMoviePlayer</name>

    <js-module src="www/PGMoviePlayer.js" name="com.l0uy.phonegap.PGMoviePlayer">
        <clobbers target="PGMoviePlayer" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PGMoviePlayer"> 
                <param name="android-package" value="com.l0uy.phonegap.PGMoviePlayer"/>
            </feature>
        </config-file>

        <source-file src="src/android/PGMoviePlayer.java" target-dir="src/com/l0uy/phonegap" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
          <feature name="PGMoviePlayer">
            <param name="ios-package" value="PGMoviePlayer"/>
          </feature>
        </config-file>

        <framework src="MediaPlayer.framework" />
        <source-file src="src/ios/PGMoviePlayer.m" />
        <header-file src="src/ios/PGMoviePlayer.h" />
    </platform>
</plugin>
